@import url('https://fonts.googleapis.com/css2?family=Squada+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.btn-xl {
  padding: 0.75rem 1.5rem;
  font-size: 2rem;
  border-radius: 0.75rem;
}

.logo {
  white-space: nowrap;
  text-transform: uppercase;
}

.logoHero {
  font-size: 8rem;
}

.logoLink {
  text-decoration: none;
  font-size: 1.5rem;
}

.logoPegSoli {
  font-family: 'Squada One', sans-serif;
  font-size: 112.5%;
}

.logoShare {
  font-family: 'Lobster', cursive, sans-serif;
}

body, a, .logoLink, .logoLink:hover {
  color: white;
}

a:hover {
  color: #ccc;
}

body, .wrapper {
  background: linear-gradient(to bottom right, #666, #333) fixed;
}

.wrapper {
  min-height: 100vh;
}

.bgHero {
  background-image: url('./img/hero.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bgHero, .bgNotFound {
  display: flex;
  flex-direction: column;
}

.heroContent {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#navRoot {
  height: 3rem;
  background-color: #444;
}

#heroBtnRoot {
  margin-top: 2rem;
  min-height: 7rem;
}

#heroBtnRoot, .notFoundReturnLink {
  font-size: 1.5rem;
}

.welcomeUsername {
  font-weight: bold;
}

.navFlex {
  height: inherit;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.errorMessageContainer {
  min-height: 4.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.formTextboxes {
  display: grid;
  width: max-content;
  grid-template-columns: 13rem 13rem;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.formTextboxes > label {
  margin: auto 0;
  text-align: right;
}

#loginContentRoot > *, #loginForm > *, #signupForm > *, #heroBtnRoot > * {
  margin-left: auto;
  margin-right: auto;
}

.loginSignupSwitch {
  text-align: center;
}

.puzzleList {
  display: grid;
  max-width: 1000px;
  margin: 2rem auto 0;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.puzzleTile {
  background-color: #777;
  transition: background-color .15s ease-in-out;
  padding: 1rem;
  border-radius: 1rem;
}

.puzzleTile:hover {
  background-color: #888;
}

.puzzleTile:active {
  background-color: #777;
}

.puzzleTile, .puzzleTile:hover {
  color: white;
  text-decoration: none;
}

.puzzleThumbGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.puzzleThumbSlot {
  outline: 2px solid white;
  outline-offset: -1px;
}

.puzzleThumbBall {
  background-color: white;
  margin: 20%;
  height: 60%;
  border-radius: 50%;
}

.puzzleTileTitle {
  font-weight: bold;
  margin-top: 1rem;
}

.spacedHeader {
  margin-top: 1rem;
  text-align: center;
}

.playCreator, .noPuzzles {
  text-align: center;
}

.hintPurchaseBtn {
  margin-top: 1rem;
}

#playUiRoot > *, #createUiRoot > * {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.ratio1x1 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.ratioContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gameBoardCanvasOuter {
  max-width: 600px;
}

.gameBoardCanvas {
  user-select: none;
  width: inherit;
  height: inherit;
}

.buttonContainerFlex {
  display: flex;
  gap: 1rem;
  max-width: max-content;
}

.buttonContainerHoriz > .btn {
  width: 9rem;
}

.buttonContainerHoriz > .btn-xl {
  width: 12rem;
}

.buttonContainerVert {
  flex-direction: column;
}

.buttonContainerVert > button {
  width: auto;
}

.undoButtonHighlighted {
  outline: 6px solid red;
}

.editModeContainer {
  max-width: max-content;
  margin-bottom: 1rem;
}

.editModeContainer > .form-check {
  text-align: start;
}
