<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Peg SoliShare</title>
  <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
  <script src="/assets/mainBundle.js"></script>
  <link rel="stylesheet" href="/assets/main.css">
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
</head>
<body>
  <button type="button" class="btn btn-primary">{{buttonText}}</button>
</body>
</html>