<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Peg SoliShare</title>
  <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
  <script src="/assets/homeBundle.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/assets/main.css">
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
</head>
<body>
  <div class="wrapper bgHero">
    <div id="navRoot" data-username={{username}}></div>
    <div class="heroContent">
      <h1 class="logo logoHero">
        <span class="logoPegSoli">Peg Soli</span><span class="logoShare">Share</span>
      </h1>
      <h2>Enter a world of variants of the classic puzzle!</h2>
      <div id="heroBtnRoot" data-username={{username}}></div>
    </div>
  </div>
</body>
</html>